<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ERecycle1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71306F7C1BEC468300ADD097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71306F901BEC468400ADD097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71306F9B1BEC468400ADD097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
